certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Faker==25.2.0
idna==3.7
joblib==1.4.2
nltk==3.8.1
pythainlp==5.0.3
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
regex==2024.5.15
requests==2.32.2
six==1.16.0
tqdm==4.66.4
urllib3==2.2.1